*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
UpgradeLog.XML
_UpgradeReport_Files/
bin/
obj/
TestResults/
.DS_Store?
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json